/**
 * Simple theme styling for the default SilverStripe Forum 
 */

.inner {
	position:relative;
}

.Forum h2, .ForumHolder h2 {
    font-size: 24px;
    margin-bottom: 15px;
    padding-top: 15px;
    line-height: 32px;
}

.Forum h3, .ForumHolder h3 {
    font-size: 21px;
    margin-bottom: 10px;
    padding-top: 10px;
}

.Forum select, .ForumHolder select {
    outline:none;
    border:1px solid #e7e7e7;
    font-size:13px;
}

.Forum textarea, .ForumHolder textarea {
    outline:none;
}

.Forum input, .ForumHolder input {
	outline:none;
}

.Forum .field.checkbox {
    margin-top:10px;
}

.Forum form .middleColumn {
	float:left;
}
	.Forum form .middleColumn span {
		margin-top:3px;
	}

.Actions {
	padding:10px;
}
.Actions input.action {
    background: #b80000;
    color: #fff;
    display: inline-block;
    border-radius: 4px;
    padding: 6px 15px;
    margin: 10px 0;
    text-transform: uppercase;
    letter-spacing: 1px;
    border-bottom: none !important;
    font-size: 13px;
}

.Actions input.action:hover {
    background: #d80000;
    color: #fff;
}

.clear {
	clear:both;
	height:0;
}

/* Header */

.forum-jump {
	display:inline-block;
	float:left;
	margin:10px;
}
.forum-jump label {
	display:none;
}
.forumStats {
	display:inline-block;
	float:left;
	margin:10px 0;
}

/* Forum Search */

.forum-search {
}
.forum-search label {
	display:none;
}
.forum-search-bar {
	display:inline-block;
	float:right;
	margin-left:10px;
}
.forum-search-dropdown-icon {
	font-family: 'WebSymbolsRegular';
	display:none;
}
.forum-search-bar form fieldset {
    position: relative;
    padding: 0;
    margin: 0;
}
.forum-search-bar form input.text {
    width: 155px;
    padding:5px 35px 5px 10px;
    color: #888;
    margin: 0;
    border: 1px solid #e7e7e7;
    border-radius: 20px;
    background: #fff;
    font-family: Arial, Helvetica, sans-serif;
}
.forum-search-bar form input.active {
    color: #000;
}
.forum-search-bar form input.action {
    font-size: 15px;
    position: absolute;
    right: 3px;
    top: -1px;
    cursor: pointer;
    border: none;
    padding: 5px;
    background: none;
    font-family: 'WebSymbolsRegular';
    color: #848484;
}
.forum-search-bar form input.action:hover {
    color: #000
}
.forum-search-bar form input:focus {
    outline: none
}



/* Content */
	
	.forum-heading {
		font-size:36px;
	}

	.forum-message-admin {}
	.forum-message-suspended {}

	.forum-topics {
		width:100%;
		margin:0;
		border:0;
	}
	.forum-topics h2 {
		font-size: 20px;
		text-align:left;
		margin:0;
		padding:0;
		display:inline;
	}

	/* forum table row styles */

	.forum-topics tr {
		border-top:1px solid #ccc;
		border-bottom:0;
		border-left:0;
		border-right:0;
	}
	.forum-topics tr:first-child {
		border-top:5px solid #efefef;
	}
	.forum-topics tr.category, .forum-topics tr.author {
		color:#333;
		text-align:left;
		background-color:transparent;
	}
	.forum-topics tr.author {
		background:transparent;
	}
	.forum-topics tr.single-row:last-child {
		border-bottom:1px solid #efefef;
	}
	.forum-topics .topic-title-row {
		background-color:#f5f5f5;
	}
	.forum-topics .topic-row:nth-child(3n+1) {
		background-color:#f7f7f7;
	}

	/* td / th styles */

	.forum-topics th, .forum-topics td {
		padding:8px 10px;
		margin:0;
		border:none;
	}
	.forum-topics tr.category td:first-child, .forum-topics tr.author td:first-child {
		text-align:left;
	}
	.topic-title {
		font-weight: bold;
	}
	.new-topic {
		float:right;
		margin-top: 5px;
	}
	.gotoButtonEnd {
		text-align: right;
	}
	.gotoButtonTop {
		text-align: right;
	}
	.forum-topics .views {
		text-align: right;
	}
	.forum-topics .posts {
		text-align: center;
	}
	.forum-topics .posts {
		text-align: center;
	}
	.forum-topics .threads {
		text-align: center;
	}
	.forum-topics .topic {
		text-align: left;
	}
	.forum-topics .name {
		font-weight: bold;
	}
	.forum-topics .count {
		text-align:center;
	}
	.forum-topics .page-numbers {
		width:20%;
	}

	/* table link styles */

	.forum-topics tr.category a {
		background-color:#fff;
		text-decoration:none;
		border-radius:3px;
	}
	.forum-topics tr.category a:hover {
		background-color:#f5f5f5;
	}

	/* forum post styles */

	.forum-post {
		padding:10px;
		border-top: 1px solid #ccc;
	}
	.forum-post:first-child {
		border-top: 0;
	}
	.forum-post:nth-child(2n) {
		background-color:transparent;
	}
	.post-date {
		color:#A79999;
		font-size:0.9em;
		margin:0;
	}
	.author-link {
		font-size:1.1em;
	}
	.user-info {
		float:left;
		width:150px;
		text-align:left;
		padding:10px;
	}
	.user-content {
		margin-left:20%;
		padding:8px 5px;
	}
	.forum-post .avatar {
		border:5px solid #ccc;
		margin:10px 0;
	}
	.forum-post .quick-reply {
		float:right;
	}
	.forum-post .forum-rank {
		background:#FDF8DA;
		color:#E1AD09;
		font-size:0.9em;
		padding:2px 5px;
	}
	.forum-post .post-modifiers {
		margin:10px 0;
	}
	.forum-post .post-modifiers a {
		color:#b22222;
		margin-right:.5em;
	}
	.forum-post .post-type {
		margin:10px 0;
	}

	.post-footer tr.category {
		border-top: 0;
	}
	.post-footer tr.author {
		border-top: 1px solid #ccc;
	}

/* Forum Admin Features */
#IsSticky label.right, #IsGlobalSticky label.right, #IsReadOnly label.right {
	width:80%;
	padding-left:2%;
}

/* Forum Post Reply */
#TopicSubscription label.right {
	width:80%;
	padding-left:2%;
}
.BBCodeHint {
	padding:10px;
}
#BBTagsHolder {
	padding:10px;
}
#BBTagsHolder h3 {
	font-size: 16px;
}
#PreviousPosts {
	border-top:5px solid #efefef;
}
#Posts li {
	border-top: 1px solid #ccc;
}
#Posts li:first-child {
	border-top:0;
}

/* User Profile */
.profile-wrapper {
	border-top: 5px solid #efefef;
}
#UserProfile .user-info {
	width: 100px;
}
#UserProfile .user-content {
	margin-left: 120px;
}
#UserProfile .user-content div {
	padding: 3px;
}
#UserProfile .user-content label.left {
	font-weight: bold;
}
#UserProfile .user-content p{
	display:inline;
}
#MemberLatestPosts {
	padding-bottom: 10px;
}

/* Footer */
.forum-admin-features {
	margin:20px 0;
}
.forum-footer {
	margin:0;
	padding-top:10px;
	border-top:5px solid #efefef;	
}
.forum-footer p {
	font-size:12px;
}
.forum-footer p.currently-online {
	float:left;
	display: inline-block;
	max-width: 50%
}
.forum-footer p.latest-member {
	float:right;
	display: inline-block;
}
.forum-footer p strong {
	color:#999;
}

/* User Profile */

#UserProfile h2 {
    font-size: 24px;
    margin-bottom: 15px;
    padding-top: 15px;
    line-height: 32px;
}

#UserProfile .field {
	position:relative;
	margin:0;
}

#UserProfile .text {
	width: 90%;
	float:none;
}

#UserProfile .text input {
	width:80%;
}

#UserProfile .middleColumn {
	float:none;
}

#UserProfile .forumcountrydropdown {
	width: 90%;
	float:none;
}

#UserProfile .forumcountrydropdown select {
	width:80%;
}

#UserProfile .checkableoption {
	position:relative;
}

#UserProfile .checkbox {
	width:9%;
	position:absolute;
	left:-5px;
	top:6px;
}

#Password {
	padding:0;
}

#UserProfile .ss-uploadfield {
	width:90%;
}

/* UserProfile From Validation*/

#UserProfile .message {
	float:none;
	padding:6px;
}

#UserProfile .field .message{
	left:70%;
	position:absolute;
	margin-left:50px;
	border:none;
	color:#B80000;
}

#UserProfile .confirmedpassword .message{
	margin-left:-27px;
}

#MemberLatestPosts h2 {
    font-size: 24px;
    margin-bottom: 15px;
    padding-top: 15px;
    line-height: 32px;
}

/* when changing the breakpoint below, change it ito the same value in the script.js file as well */
@media only screen and (max-width: 640px) { 
	
	.Forum h1 {
		margin:20px 0;
	}

	/* Header */
	.forum-header {
	}
	.forum-header-forms {
		position:static;
		width:auto;
	}
	.forum-header-forms form {
		margin:10px 0;
		width:100%;
	}
	.forum-jump {
		display:block;
		float:none;
	}
	.forum-jump label {

	}
	.forumStats {
		display:block;
		float:none;
	}

	/* Forum Search */

	.forum-search-bar {
		display:block;
		float:none;
	}

	.forum-search-bar {
	    display:block;
		float:none;
	    width: 100%;
	    position: relative;
	    top: 0;
	    right: 0;
	    margin: 0;
	}
	.forum-search-bar form {
	    margin: 0;
	    width: 100%;
	}
		.forum-search-bar form fieldset {
		    left: 0;
		    right: 0;
		    position: relative;
		}
	.forum-search-bar form input.text {
	    width: 93%;
	    padding: 8px 7% 8px 0;
	    text-indent: 15px;
	    position: relative;
	    display: block;
	    right: 0;
	    left: 0;
	    border: 1px solid #e5e5e5;
	    background: #fff;
	    font-size: 17px;
	}
	.forum-search-bar form input.action {
	    right: 10px;
	    top: 2px;
	    font-size: 18px;
	}

	/* Content */

	.forum-topics th, .forum-topics td {
		border:1px solid #ccc;
	}

	.forum-topics tr.category {
		color:#333;
		text-align:left;
	}
	.forum-topics tr.category a{
		background:transparent;
		line-height:20px;
	}
	.forum-topics tr.category a:after{
		content:'»';
		margin-left:3px;
	}
	.forum-topics tr.category .new-topic:after{
		content:'';
	}
	.forum-topics tr.category a:hover{
		background:transparent;
	}
}